body {
	background-color: black;
	font-family: Verdana;
}

h1 {
	color: white;
	font-weight: normal;
	text-align: center;
	font-size: 50px;
}

h2{
	font-weight: 300;
	font-size: 42px;
	text-align: center;
	color:white;
}

a {
	color:Aquamarine;
	font-size: 16px;
}

p {
	color: Gray;
	font-size: 21px;
	text-align: center;
}

.footer{
	color: Gray;
	text-align: right;
}